.movie-list {
  // width: 100%;
  display: flex;
  // flex-wrap: nowrap;
  padding: 16px;
  overflow-x: scroll;
  gap: 16px;
  & > div {
    flex: 0 0 167px;
  }
  // &.loading {
  //   & > div {
  //     height: 250px;
  //     animation: fade-in-out 1s infinite;
  //     -webkit-animation: fade-inout 1s infinite;
  //   }
  // }
}
