@import 'my-react-component/src/styles/typeface.module.scss';
@import 'my-react-component/src/styles/colors.module.scss';

// HeaderItemList.tsx
.header-item {
  display: flex;
  gap: 10px;
  position: relative;
  padding: 0px 30px;
  & > .title {
    @include typeface('Paragraph_1_b');
  }
}

// OptionItemList.tsx
.option-items {
  width: 100%;
  .header-item & {
    width: 100px;
    // @include typeface('Paragraph_1_sb');
    font-size: 15px;
  }
  position: absolute;
  top: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  border-radius: 4px;
  border: 0.5px solid color('grey_ccc');
  background-color: color('grey_f4');
  & > span {
    padding: 4px 10px;
    &:hover {
      &.selected {
        background-color: color('main');
        color: color('white');
      }
      background-color: color('grey_ccc');
    }
  }
}

.selected-item {
  padding: 10px 16px;
  cursor: pointer;
  @include typeface('Paragraph_1_sb');
  &:hover {
    background-color: color('grey_ccc');
  }
  &.selected {
    color: color('white');
    background-color: color('main');
  }
}

.search-item {
  display: flex;
  gap: 20px;
  border-radius: 8px;
  border: 0.5px solid color('grey_bbb');
  overflow: hidden;
  & > img {
    width: 94px;
    height: 140px;
  }
}

// ColumnExplain.tsx
.column-explain {
  display: flex;
  flex-direction: column;
  gap: 2px;
  & > span:nth-child(1) {
    @include typeface('Paragraph_1_m');
  }
}
// CastItem.tsx
.cast-container {
  padding: 20px;
  .cast-item-container {
    .cast-info {
      padding: 8px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      & > span:nth-child(1) {
        @include typeface('Paragraph_2b');
      }
      & > span:nth-child(2) {
        @include typeface('Paragraph_3');
      }
    }
    background-color: color('white');
    border-radius: 8px;
    border: 0.5px solid color('grey_ccc');
    > img {
      border-radius: 8px 8px 0 0;
      width: 100%;
    }
  }
}
