// selectedItem.tsx
@import 'my-react-component/src/styles/typeface.module.scss';
@import 'my-react-component/src/styles/colors.module.scss';

@mixin rightFade {
  position: relative;
  &::after {
    content: '';
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to right, rgb(255, 255, 255, 0) 20%, #f5f6f8 100%);
    will-change: opacity;
    pointer-events: none;
  }
}
.selected-item {
  padding: 10px 16px;
  cursor: pointer;
  @include typeface('Paragraph_1_sb');
  &:hover {
    background-color: color('grey_ccc');
  }
  &.selected {
    color: color('white');
    background-color: color('main');
  }
}

.search-item {
  display: flex;
  gap: 20px;
  border-radius: 8px;
  border: 0.5px solid color('grey_bbb');
  overflow: hidden;
  & > img {
    width: 94px;
    height: 140px;
  }
}

// ColumnExplain.tsx
.column-explain {
  display: flex;
  flex-direction: column;
  gap: 2px;
  & > span:nth-child(1) {
    @include typeface('Paragraph_1_m');
  }
}
