@import 'my-react-component/src/styles/typeface.module.scss';
@import 'my-react-component/src/styles/colors.module.scss';
@import '../../../styles/common.scss';
// HeaderItemList.tsx
.header-item {
  padding: 16px;
  .mobile & {
    padding: 0px;
  }
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  cursor: pointer;
  & > .title {
    @include typeface('Paragraph_1_b');
  }
  & > .option-list-container {
    position: absolute;
    width: 90px;
    top: 100%;
  }
  .mobile-option-list-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 6px 24px;
  }
  .mobile & {
    min-width: 130px;
  }
}

.search-item {
  display: flex;
  gap: 20px;
  border-radius: 8px;
  border: 0.5px solid color('grey_bbb');
  overflow: hidden;
  & > img {
    width: 94px;
    height: 140px;
  }
}

// ColumnExplain.tsx
.column-explain {
  display: flex;
  flex-direction: column;
  gap: 2px;
  & > .break-words {
    display: inline-block;
    @include typeface('Paragraph_3_b');
    color: color('grey_999');
    // white-space: nowrap;
    word-break: break-all;
    // overflow: hidden;
    text-overflow: ellipsis;
  }
}

.list-container-right-fade {
  padding: 20px;
  @include rightFade();
}
// CastItem.tsx
.cast-item-container {
  .cast-info {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    & > span:nth-child(1) {
      @include typeface('Paragraph_2b');
    }
    & > span:nth-child(2) {
      @include typeface('Paragraph_3');
    }
  }
  background-color: color('white');
  border-radius: 8px;
  border: 0.5px solid color('grey_ccc');
  > img {
    border-radius: 8px 8px 0 0;
    width: 100%;
  }
}

.list-container {
  padding: 30px 0px 0px;
  @include rightFade;
  .header {
    display: flex;
    position: relative;
    z-index: 3;
    align-items: center;
    & > h2 {
      margin: 0;
    }
    display: flex;
    padding-left: 40px;
  }
  &:nth-child(1) {
    background-image: url('/background.svg');
    background-position: 50% 100%;
    // background-size: var(--maxPrimaryPageWidth);
    background-repeat: no-repeat;
  }
  &.upcomming {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    transition: all 0.5s;

    .background {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(to right, rgba(3, 37, 65, 0.75) 0%, rgba(3, 37, 65, 0.75) 100%);
      z-index: 0;
    }
  }
  &.recommend {
    padding: 20px;
  }
}
.item-list {
  z-index: 1;
  @include responsiveFlexList(125px, 150px, 150px);
  // @include responsiveFlexList(30%, 25%, 20%);
  &.upcomming {
    @include responsiveFlexList(200px, 250px, 300px, true);
    padding: 20px 40px 60px 40px;
  }
  &.recommend {
    @include responsiveFlexList(175px, 200px, 250px);
  }
  &.cast {
    padding: 16px;
  }
  &.appearance {
    padding: 16px;
  }
  padding: 20px 40px;
  &.loading {
    // & > div {
    //   background-color: color('main_sub');
    //   animation: fade-in-out 1s infinite;
    //   border-radius: 8px;
    //   -webkit-animation: fade-in-out 1s infinite;
    // .mobile & {
    //   height: 248.5px;
    // }
    // .tablet & {
    //   height: 239px;
    // }
    // .desktop & {
    //   height: 259px;
    // }
    // }
    // @include responsiveFlexList(125px, 150px, 150px);
    // & > div {
    //   padding-top: 150%;
    // }
  }

  @keyframes fade-in-out {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 0.2;
    }
  }
}

.skeleton-item-list {
  @include responsiveFlexList(125px, 150px, 150px);
  // @include responsiveFlexList(30%, 25%, 20%);
  &.upcomming {
    @include responsiveFlexList(200px, 250px, 300px, true);
    padding: 20px 40px 60px 40px;
  }
  padding: 20px 40px;
  .skeletonImg {
    // .mobile & {
    //   height: 238.5px;
    // }
    // .tablet & {
    //   height: 229px;
    // }
    // .desktop & {
    //   height: 249px;
    // }

    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #ccc;
    opacity: 0.7;
    border-radius: 8px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      /* background: linear-gradient(to right, #f0eaea, #ddd, #fdf9f9); */
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.6) 40%,
        rgba(255, 255, 255, 0) 70%
      );
      animation: loading 1s infinite linear;
    }
  }
}

@keyframes loading {
  0% {
    transform: translateX(0);
  }
  50%,
  100% {
    transform: translateX(100%);
  }
}
