@import 'my-react-component/src/styles/typeface.module.scss';
.list-item {
  padding:16px;
  display:flex;
  gap:16px;
  align-items: center;
  @include typeface('Heading_2');
  &.disabled {
    opacity: 0.5;
  }
  & > img {
    width:48px;
    height:48px;
    border-radius: 50%;
  }
}