@import 'my-react-component/src/styles/typeface.module.scss';
@import 'my-react-component/src/styles/colors.module.scss';
@import '../styles/common.scss';
.actor-page {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1.95fr;
  gap: 16px;
  &.mobile {
    display: flex;
    flex-direction: column;
  }
  & > .actor-profile {
    & > .actor-explain {
      padding: 16px 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  & > .actor-detail-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    & > h2 {
      margin: 0;
    }
    & > .actor-biography-container {
      position: relative;
      & > .actor-biography-show {
        max-height: none;
        @include typeface('Paragraph_1_m');
      }
      & > .actor-biography {
        margin: 0;
        position: relative;
        max-height: 195px;
        overflow: hidden;
        @include typeface('Paragraph_1_m');
        @include rightFade(100%, 30px, false, 85%);
      }
      & > .read-more {
        &.hide {
          visibility: hidden;
        }
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 10;
        height: 30px;
        @include typeface('Buttons_1_b');
      }
    }
  }
}
