@import 'my-react-component/src/styles/colors.module.scss';
@import 'my-react-component/src/styles/typeface.module.scss';
.main-container {
  min-height: 100vh;
  padding-bottom: 70px;
  background-color: #f5f6f8;
}
.main-container.desktop {
  // padding-left: var(--navigation-padding);
}
.search {
  align-self: center;
  cursor: pointer;
}
.app-bar-search {
  width: 100%;
  justify-content: flex-end;
  position: absolute;
  display: flex;
  gap: 10px;
  top: 72px;
  right: 15px;
  z-index: 10000;
}
.user-button-container {
  display: flex;
  gap: 10px;
  flex: 1;
  justify-content: flex-end;
  padding-top: 20px;
}
