.dashboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 30px 100px;
  // padding-bottom: 100px;
}
.list-container {
  ::after {
  }
}

.item-list {
  // width: 100%;
  display: flex;
  // flex-wrap: nowrap;
  padding: 16px;
  overflow-x: scroll;
  gap: 16px;
  & > div {
    flex: 0 0 150px;
    // border-radius: 8px;
  }
  // &.loading {
  //   & > div {
  //     height: 250px;
  //     animation: fade-in-out 1s infinite;
  //     -webkit-animation: fade-inout 1s infinite;
  //   }
  // }
}
