@import 'my-react-component/src/styles/colors.module.scss';
@import 'my-react-component/src/styles/typeface.module.scss';
@import '../components/common/styles/common.scss';
.detail-page {
  height: 100%;
  padding-bottom: 150px;
  &.mobile {
    .detail-content {
      display: flex;
      flex-direction: column;
    }
  }
  & > .detail-intro {
    > .detail-background {
      background-image: linear-gradient(
        to right,
        rgba(31.5, 10.5, 10.5, 1) calc((50vw - 170px) - 340px),
        rgba(31.5, 10.5, 10.5, 0.84) 50%,
        rgba(31.5, 10.5, 10.5, 0.84) 100%
      );

      display: grid;
      padding: 16px;
      grid-template-columns: 1fr 1.1fr;
      &.mobile {
        display: flex;
        padding: 0;
        flex-direction: column;
        > .intro-image {
          position: unset;
          width: 100%;
          height: calc(100vw / 2.22);
          padding: 0;
          // border-radius: 8px;
          .image-background {
            width: 100%;
            // padding: 15px;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            background-image: linear-gradient(
              to right,
              rgba(31.5, 10.5, 10.5, 1) 20%,
              rgba(31.5, 10.5, 10.5, 0) 50%
            );

            > img {
              position: absolute;
              width: 30%;
              // height: 70%;
              left: 30px;
              top: 30px;
              border-radius: 8px;
            }
          }
        }
        > .intro-info {
          padding: 16px;
        }
      }
      > .intro-image {
        position: relative;
        width: 90%;
        padding-top: 120%;
        & > img {
          border-radius: 8px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      > .intro-info {
        color: color('white');

        > .intro-crew {
          margin-top: 30px;
          display: flex;
          flex-wrap: wrap;
          gap: 16px;
          & > .crew-box {
            display: flex;
            flex-direction: column;
            & > span:nth-child(1) {
              @include typeface('Paragraph_1_b');
              line-height: 14px;
            }
            & > span:nth-child(2) {
              @include typeface('Paragraph_2');
            }
          }
        }
      }
    }
  }
  .detail-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    & > .content-cast-recommend {
      @include rightFade;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      // gap: 20px;
      .cast-list {
        padding: 20px;
        .cast-item-container {
          .cast-info {
            padding: 8px;
            display: flex;
            flex-direction: column;
            gap: 6px;
            & > span:nth-child(1) {
              @include typeface('Paragraph_2b');
            }
            & > span:nth-child(2) {
              @include typeface('Paragraph_3');
            }
          }
          background-color: color('white');
          border-radius: 8px;
          border: 0.5px solid color('grey_ccc');
          > img {
            border-radius: 8px 8px 0 0;
            width: 100%;
          }
        }
        // @include rightFade;
      }
      & > .recommend-container {
        padding: 20px;
        .recommend-list {
          padding: 20px;
          display: flex;
          gap: 20px;
          overflow-x: scroll;
          & > div {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .mobile & {
              flex: 0 0 175px;
              // flex: 0 0 50%;
            }
            .tablet & {
              flex: 0 0 200px;
              // flex: 0 0 50%;
            }
            .desktop & {
              flex: 0 0 250px;
              // flex: 0 0 30%;
            }
          }
        }
      }
    }
  }
}

.content-info {
  padding: 30px 10px;
  & > .info-overview {
    display: flex;
    flex-direction: column;
    // gap: 20px;
    gap: 30px;
    // & > .explain-box {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-between;
    //   & > span:nth-child(1) {
    //     @include typeface('Heading_3');
    //   }
    //   & > span:nth-child(2) {
    //     @include typeface('Paragraph_1_m');
    //   }
    // }

    & > .keyword-container {
      // display:flex;
      // flex-direction: column;
      & > .keyword-box {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        & > span {
          padding: 4px 10px;
          background-color: color('grey_ccc');
          border: 1px solid color('grey_bbb');
          color: color('grey_111');
          border-radius: 4px;
          @include typeface('Paragraph_2');
        }
      }
    }
  }
}
