@import 'my-react-component/src/styles/colors.module.scss';
@import 'my-react-component/src/styles/typeface.module.scss';
@import '../components/common/styles/common.scss';
.detail-page {
  height: 100%;
  padding-bottom: 150px;
  &.mobile {
    .detail-content {
      display: flex;
      flex-direction: column;
    }
  }
  & > .detail-intro {
    > .detail-background {
      background-image: linear-gradient(
        to right,
        rgba(31.5, 10.5, 10.5, 1) calc((50vw - 170px) - 340px),
        rgba(31.5, 10.5, 10.5, 0.84) 50%,
        rgba(31.5, 10.5, 10.5, 0.84) 100%
      );

      display: grid;
      padding: 16px;
      grid-template-columns: 1fr 1.1fr;
      &.mobile {
        display: flex;
        padding: 0;
        flex-direction: column;
        > .intro-image {
          position: unset;
          width: 100%;
          height: calc(100vw / 2.22);
          padding: 0;
          // border-radius: 8px;
          .image-background {
            width: 100%;
            // padding: 15px;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            background-image: linear-gradient(
              to right,
              rgba(31.5, 10.5, 10.5, 1) 20%,
              rgba(31.5, 10.5, 10.5, 0) 50%
            );

            > img {
              position: absolute;
              width: 30%;
              // height: 70%;
              left: 30px;
              top: 30px;
              border-radius: 8px;
            }
          }
        }
        > .intro-info {
          padding: 16px;
        }
      }
      > .intro-image {
        position: relative;
        width: 90%;
        padding-top: 120%;
        & > img {
          border-radius: 8px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      > .intro-info {
        color: color('white');

        > .intro-crew {
          margin-top: 30px;
          display: flex;
          flex-wrap: wrap;
          gap: 16px;
          & > .crew-box {
            display: flex;
            flex-direction: column;
            & > span:nth-child(1) {
              @include typeface('Paragraph_1_b');
              line-height: 14px;
            }
            & > span:nth-child(2) {
              @include typeface('Paragraph_2');
            }
          }
        }
      }
    }
  }
  .detail-content {
    display: grid;
    grid-template-columns: 2fr 1fr;

    > .cast-list {
      padding: 20px;
      overflow: hidden;
      .cast-item-container {
        .cast-info {
          padding: 8px;
          display: flex;
          flex-direction: column;
          gap: 6px;
          & > span:nth-child(1) {
            @include typeface('Paragraph_2b');
          }
          & > span:nth-child(2) {
            @include typeface('Paragraph_3');
          }
        }
        background-color: color('white');
        border-radius: 8px;
        border: 0.5px solid color('grey_ccc');
        > img {
          border-radius: 8px 8px 0 0;
          width: 100%;
        }
      }
      // position: relative;
      // &::after {
      //   content: '';
      //   width: 60px;
      //   height: 100%;
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      //   background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #f5f6f8 100%);
      //   will-change: opacity;
      //   pointer-events: none;
      // }
      @include rightFade;
    }
  }
}

.content-info {
  padding: 30px 10px;
  & > .info-overview {
    display: flex;
    flex-direction: column;
    gap: 16px;
    & > .explain-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & > span:nth-child(1) {
        @include typeface('Heading_3');
      }
      & > span:nth-child(2) {
        @include typeface('Paragraph_1_m');
      }
    }
  }
}
