@import 'my-react-component/src/styles/typeface.module.scss';
@import 'my-react-component/src/styles/colors.module.scss';
@import '../styles/common.scss';
.movie-page {
  display: grid;
  grid-template-columns: 300px 2.5fr;
  // transition: all 0.2s linear;
  // .tablet & {
  //   grid-template-columns: 250px 2.5fr;
  // }
  .mobile & {
    @include flexColumn;
  }
  & > .filter-total-container {
    position: relative;
    width: 100%;
    & > .sort-filter {
      @include flexColumnCenterPaddingGap(16px, 16px);
    }
  }
  & > .movie-item-container {
    @include flexColumnCenterPaddingGap(16px, 16px);
    & > .item-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      .tablet & {
        grid-template-columns: repeat(3, 1fr);
      }
      .mobile & {
        grid-template-columns: repeat(2, 1fr);
      }
      gap: 16px;
      box-sizing: border-box;
      & > .movie-item-container {
        border-radius: 9px;
        border: 1px solid color('grey_ccc');
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      }
    }
  }
  & > .search-btn {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
  }
}
@media screen and (max-width: 720px) {
  .movie-page {
    @include flexColumn;
  }
}
