@import 'my-react-component/src/styles/typeface.module.scss';
@import 'my-react-component/src/styles/colors.module.scss';
.filter-downfall-container {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 90%;
  & > .header {
    padding: 14px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include typeface('Paragraph_1_b');
  }
}

.option-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 14px 16px 16px;
  & > .title {
    @include typeface('Paragraph_1_m');
    color: color('grey_bbb');
  }

  & > .option-toggle {
    position: relative;
    display: flex;
    flex-direction: column;
    // align-items: center;
    @include typeface('Paragraph_2');
    cursor: pointer;
    & > .option-selected {
      // width: 80%;
      border-radius: 4px;
      padding: 6px 12px;
      background-color: color('grey_ccc');
    }
    // & > .option-items {
    //   width: 100%;
    //   position: absolute;
    //   top: 100%;
    //   z-index: 10;
    //   display: flex;
    //   flex-direction: column;
    //   padding: 10px 0px;
    //   border-radius: 4px;
    //   border: 0.5px solid color('grey_ccc');
    //   background-color: color('grey_f4');
    //   & > span {
    //     padding: 4px 10px;
    //     &:hover {
    //       &.selected {
    //         background-color: color('main');
    //         color: color('white');
    //       }
    //       background-color: color('grey_ccc');
    //     }
    //   }
    // }
  }
}
