@import 'my-react-component/src/styles/typeface.module.scss';
@import 'my-react-component/src/styles/colors.module.scss';
.option-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 14px 16px 16px;
  & > .title {
    @include typeface('Paragraph_1_m');
    color: color('grey_bbb');
  }
}
.filter-genre-container {
  display: flex;
  flex-wrap: wrap;
  padding: 14px 16px 16px;
  gap: 10px;
}
.filter-provider-container {
  padding: 14px 16px 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
  .mobile & {
    gap: 8px;
    grid-template-columns: repeat(6, 1fr);
  }
  @media screen and (max-width: 720px) {
    & {
      gap: 8x;
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
