@import 'my-react-component/src/styles/typeface.module.scss';
@import 'my-react-component/src/styles/colors.module.scss';
.user-profile {
  box-sizing: border-box;
  width: 100%;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  & > .user-img {
    max-width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    & > img {
      overflow: hidden;
      border-radius: 50%;
    }
    & > .user-email {
      @include typeface('Heading_3');
    }
  }
  & > .user-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    & > .user-info-detail {
      display: flex;
      gap: 30px;
      align-items: center;
      justify-content: space-between;
      & > .title {
        @include typeface('Paragraph_1_b');
      }
      & > .explain {
        @include typeface('Paragraph_1_m');
      }
    }
  }
  & > .user-action {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid color('grey_ccc');
    padding-top: 20px;
    & > .favorite {
      width: 50%;
      display: flex;
      align-items: center;
      cursor: pointer;
      user-select: none;
      @include typeface('Paragraph_1_sb');
    }
    & > .logout {
      @include typeface('Paragraph_1_b');
      display: flex;
      align-items: center;
      align-self: flex-end;
      gap: 6px;
      cursor: pointer;
      user-select: none;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
