.trailer-container {
  padding: 0px 20px 20px;
  & > .trailer-iframe {
    position: relative;
    padding: 20px;
    // max-width: 640px;
    // height: 460px; // 360px;
    padding-top: 56.4%;
    box-sizing: border-box;
    & > iframe {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      border: transparent;
      border-radius: 8px;
    }
  }
}
